*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


.headerConteiner{
    width: 100%;
    height: 10%;
    padding-top: 18px;
    padding-left: 55px;
    background-color: #f5a106b3;
}
.headerConteiner p{
    padding-top: 10px;
}
@media only screen and (max-height: 800px) {
    .headerConteiner{
        padding-top: 4px;
    }
  }